.container {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
  }


  .container{
    padding:  15px;
     margin: 20px auto; 
     border: 3px solid black;
      width: 800px;
      background-color: color-mix(in hsl shorter hue, color percentage, color percentage);
      border-radius: 12px;
  }